.collection {
	text-align: center;
	padding: 4rem 0;
	background-color: #EEE;
}

.collection .collection-demo.img {
	height: 500px;
}

/* Responsive */

 @media (min-width: 992px) {
 	.collection .collection-demo .img {
 		height: 400px;
 	}
 }