.demo {
	margin-bottom: 4rem;
}

.demo a {
	text-decoration: none;
}

.demo .title {
	text-align: center;
}

.demo .title h3 {
	text-transform: capitalize;
	font-size: 2.5rem;
	margin-bottom: 3rem;
	font-weight: normal;
}

.demo .title p {
	font-size: 22px;
	color: #AAA;
	margin-bottom: 0;
}

.demo .title p:last-child {
	margin: 0 1.5rem 3rem;
}

.demo .demos .img {
	display: inline-block;
	height: 600px;
	overflow: hidden;
	text-align: center;
	padding: 5px;
}

.demo .demos .img img {
	width: 90%;
	box-shadow: 5px 5px 20px #AAA;
}

.demo .demos img:hover {
	box-shadow: 5px 5px 70px #AAA;
}

.demo .demos .content {
	text-align: center;
}

.demo .demos .content p:first-child {
	font-size: 4.5rem;
	color: #CCC;
	margin-bottom: -4rem;
}

.demo .demos .content p:last-child {
	font-size: 2rem;
	color: black;
	margin-bottom: 4px;
}

 @media (min-width: 992px) {
 	.demo .demos .img {
 		height: 450px;
 	}
 }