<!DOCTYPE html>
<html>
<head>
	<title>Components</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="demo.css">
</head>
<body>
	<div class="container demo">
		<div class="row">
			<div class="col-sm-12 title">
				<h3>choose one of demos</h3>
				<p>You can use any of design layouts. Easy to use and highly customizable, It saves your time.</p>
				<p>Stay connect with us and check out upcoming designs of this theme</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 demos">
				<a href="#" class="img">
					<img src="./images/WBA020_01.jpg" />
				</a>
				<a href="#" class="content">
					<p>01</p>
					<p>Electronic</p>
				</a>
			</div>
		</div>
	</div>
</body>
</html>